# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
#!pip install gmaps
!jupyter nbextension enable --py --sys-prefix gmaps
!jupyter nbextension enable --py gmaps

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
import sys
%matplotlib inline

# Import API key

with open('/Users/tmlun/Downloads/api_keys.py', 'r') as gkey:
    mykey=gkey.read()
    mykey=mykey.split('=')
    mykey=mykey[1].strip()   
gkey = mykey.strip('"') 
#from api_keys import g_key
#from api_keys import weather_api_key
gmaps.configure(api_key=g_key)

# Data File path (CSV)
data = "./output_data/cities.csv"

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:
Vacation_City_df = pd.read_csv(data)

Vacation_City_df.head()

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country
0,0,Cape Town,-33.93,18.42,60.58,77,75,2.24,ZA
1,1,Puerto Ayora,-0.74,-90.35,69.01,90,68,7.00,EC
2,2,East London,-33.02,27.91,69.89,87,0,6.58,ZA
3,3,Naze,28.37,129.48,75.20,78,75,20.80,JP
4,4,Praia da Vitória,38.73,-27.07,64.24,82,40,7.78,PT

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:

locations = Vacation_City_df[["Latitude", "Longitude"]].astype(float)
Humidity = Vacation_City_df["Humidity"].astype(float)

In [15]:
fig= gmaps.figure(center=[0,0], zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, dissipating=False, max_intensity=100,
                                point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
Ideal_criteria_df = Vacation_City_df.loc[(Vacation_City_df["Temperature"]<95) & (Vacation_City_df["Temperature"]>75)
                                          & (Vacation_City_df["Wind Speed"]<15) & (Vacation_City_df["Wind Speed"]>5)
                                          & (Vacation_City_df["Cloudiness"]==0)].dropna()
Ideal_criteria_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country
11,11,Waingapu,-9.66,120.26,87.57,55,0,6.33,ID
74,74,Bubaque,11.28,-15.83,84.09,69,0,10.09,GW
177,177,Mount Isa,-20.73,139.50,86.00,51,0,8.05,AU
193,193,Karratha,-20.74,116.85,82.90,29,0,14.72,AU
209,209,Yulara,-25.24,130.99,93.20,7,0,8.05,AU
280,280,Porbandar,21.64,69.61,75.85,50,0,9.31,IN
288,288,Tahoua,14.89,5.27,77.00,27,0,6.93,NE
323,323,Port Hedland,-20.32,118.57,91.40,29,0,12.75,AU
378,378,Nouadhibou,20.93,-17.03,78.80,31,0,13.87,MR
403,403,Verāval,20.90,70.37,76.14,49,0,8.61,IN
459,459,Cape Coast,5.11,-1.25,79.02,85,0,7.02,GH
465,465,Nambucca Heads,-30.65,153.00,83.66,65,0,6.93,AU
487,487,Conakry,9.54,-13.68,81.12,75,0,8.21,GN
491,491,Presidencia Roque Sáenz Peña,-26.79,-60.44,76.64,55,0,6.67,AR
531,531,Nouakchott,18.09,-15.98,75.20,16,0,8.05,MR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [29]:
hotel_df= Ideal_criteria_df
hotel_df["Hotel Name"]= ""
hotel_df.reindex()
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
11,11,Waingapu,-9.66,120.26,87.57,55,0,6.33,ID,
74,74,Bubaque,11.28,-15.83,84.09,69,0,10.09,GW,
177,177,Mount Isa,-20.73,139.50,86.00,51,0,8.05,AU,
193,193,Karratha,-20.74,116.85,82.90,29,0,14.72,AU,
209,209,Yulara,-25.24,130.99,93.20,7,0,8.05,AU,
280,280,Porbandar,21.64,69.61,75.85,50,0,9.31,IN,
288,288,Tahoua,14.89,5.27,77.00,27,0,6.93,NE,
323,323,Port Hedland,-20.32,118.57,91.40,29,0,12.75,AU,
378,378,Nouadhibou,20.93,-17.03,78.80,31,0,13.87,MR,
403,403,Verāval,20.90,70.37,76.14,49,0,8.61,IN,
459,459,Cape Coast,5.11,-1.25,79.02,85,0,7.02,GH,
465,465,Nambucca Heads,-30.65,153.00,83.66,65,0,6.93,AU,
487,487,Conakry,9.54,-13.68,81.12,75,0,8.21,GN,
491,491,Presidencia Roque Sáenz Peña,-26.79,-60.44,76.64,55,0,6.67,AR,
531,531,Nouakchott,18.09,-15.98,75.20,16,0,8.05,MR,

In [ ]:


target_type = "lodging"
coords = hotel_df[["Latitude","Longitude"]]
radius = 5000

# rewrite params dict

params = {
    "location": f"Latitude, Longitude"
    "types": target_type,
    "radius": radius,
    "key": gkey
}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():

    # get restaurant type from df
    coords = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = hotel_name

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    #print('\n', 'response is of datatype ', type(response), '\n')
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

# Run request
response = requests.get(base_url, params)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Add marker layer ontop of heat map


# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Poverty Rate: {rate}" for rate in poverty_rate])
fig.add_layer(markers)
fig

# Display figure